<header
  class="sticky inset-0 z-50 border-b backdrop-blur-lg bg-gray-800 text-white border-slate-600"
>
  <nav
    class="mx-auto flex max-w-6xl gap-8 px-6 transition-all duration-200 ease-in-out lg:px-12 py-4 text-white"
  >
    <div class="relative flex items-center">
      <a href="/" class="text-bold">
        <span class="text-bold text-2xl">Guitar Shop</span></a
      >
    </div>
    <ul class="hidden items-center justify-center gap-6 md:flex">
      <li class="pt-1.5 font-dm text-sm font-medium text-white">
        <a href="/products">Products</a>
      </li>
    </ul>
    <div class="flex-grow"></div>
    <div class="hidden items-center justify-center gap-6 md:flex">
      <a href="#" class="font-dm text-sm font-medium text-white">
        <lucide-icon name="shopping-cart" class="my-icon"></lucide-icon>
      </a>
      <a
        href="#"
        class="font-dm text-sm font-medium text-white"
      >
        <lucide-icon name="log-in" class="my-icon"></lucide-icon>
      </a>
    </div>
    <div class="relative flex items-center justify-center md:hidden">
      <button type="button">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
          class="h-6 w-auto text-white"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
          ></path>
        </svg>
      </button>
    </div>
  </nav>
</header>
