<section class="flex justify-center p-5">
  <section class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-4 p-8">
    <article
      *ngFor="let product of products"
      class="rounded-lg max-w-sm bg-white border border-gray-200 shadow p-3"
    >
      <img
        class="rounded-xl bg-gray-200"
        [src]="product.photoUrl"
        alt="Product Image"
      />
      <section class="p-2">
        <a routerLink="/product/{{ product.id }}">
          <h2 class="mb-2 text-4xl font-bold tracking-tight text-gray-900">
            {{ product.name }}
          </h2>
        </a>
        <div class="flex justify-start">
          <h5
            class="border-sky-950 rounded-xl text-2xl font-bold cursor-default"
          >
            ${{ product.price }}
          </h5>
        </div>
        <h5 class="mb-2 text-1xl font-bold tracking-tight text-gray-500">
          {{ product.artist }}
        </h5>
        <p class="text-1xl pb-4">{{ product.bio }}</p>
      </section>
      <section class="flex justify-end">
        <button
          class="w-12 h-12 bg-sky-950 rounded-full bg-gradient-to-br shadow transform hover:bg-sky-700 text-white flex items-center justify-center"
          (click)="addToCart(product)"
        >
          <lucide-icon name="shopping-cart" class="text-white"></lucide-icon>
        </button>
      </section>
    </article>
  </section>
</section>
